@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar { 
	width: 400px;
	max-width: 100%;
	background-color: #fff;
	color: #222;
	border-radius: 8px;
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.125em;
   }
   .react-calendar__navigation button {
	color: #6acb87;
	min-width: 44px;
	background: none;
	font-size: 16px;
	margin-top: 8px;
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
	background-color: #f8f8fa;
   }
   .react-calendar__navigation button[disabled] {
	background-color: #f0f0f0;
   }
   abbr[title] {
	text-decoration: none;
   }
   .react-calendar__month-view__days__day--weekend {
	color: #d10000;
   }
   .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
	background: #f8f8fa;
	color: #6acb87;
	border-radius: 6px;
   }
   .react-calendar__tile--now {
	background: #6acb8733;
	border-radius: 6px;
	font-weight: bold;
	color: #6acb87;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
	background: #6acb8733;
	border-radius: 6px;
	font-weight: bold;
	color: #6acb87;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
	background: #f8f8fa;
   }
   .react-calendar__tile--active {
	background: #6acb87;
	border-radius: 6px;
	font-weight: bold;
	color: white;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
	background: #6acb87;
	color: white;
   }
   .react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #f8f8fa;
   }
   .react-calendar__tile--range {
	background: #f8f8fa;
	color: #6acb87;
	border-radius: 0;
   }
   .react-calendar__tile--rangeStart {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	background: #6acb87;
	color: white;
   }
   .react-calendar__tile--rangeEnd {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background: #6acb87;
	color: white;
   }
   .react-calendar .highlight {
    background-color: #D6D46D;
    border-radius: 10px;
  }
/* body {
	display: flex;
	align-items: center;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: #86A789;
}

.card {
	color: #86A789;
	background-color: #D2E3C8;
	width: 420px;
	height: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 30px;

}

.form{
	font-size: 20px;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	margin: 20px;
}

.input {
	height: 40px;
	margin-left: 10px;
	border-radius: 10px;
	padding : 5px;
	margin-top: -5px;
	transition-duration: 0.5s;
}

.input:focus {
	background-color: #86A789;
	transition-duration: 0.5s;
	color: white;
} */
